{% extends "blogbase.html" %}
{% block title %}Blog Editor{% endblock %}

{% block content %}

{% for post in posts %}

<div class="card">
    <div class="card-header">
    <h3>{{ post.title }}</h3>
    <div>
    <small>
        Published - {{ post.created_on.date }}
        {% for category in post.categories.all %}
            <div>
                <h5>Categories</h5>
                {{ category.name }}
            </div>
        {% endfor %}
    </small>
    </div>
    </div>
    <div class="card-body">
        <p>{{ post.body | slice:":400" }}...</p>
    </div>
    <div>
        <a href="{% url 'blog_edit' post.pk %}" class="btn btn-primary">Edit</a>
    </div>
</div>

{% endfor %}

{% endblock content %}