{% extends "blogbase.html" %}
{% block title %}Blog Editor{% endblock %}

{% block content %}

{% for post in posts %}

<div class="card w-50 mb-3">
    <div class="card-header">
    <h3>{{ post.title }}</h3>
    <div>
    <small>
        Published - {{ post.created_on.date }}
        <h5>Categories</h5>
        {% for category in post.categories.all %}
            <span>
                {{ category.name }}
                {% if not forloop.last %},{% endif %}
            </span>
        {% endfor %}
    </small>
    </div>
    </div>
    <div class="card-body text-center">
        <p>{{ post.body | slice:":400" }}...</p>
    </div>
    <div>
        <a href="{% url 'blog_edit' post.pk %}" class="btn btn-primary">Edit</a>
    </div>
</div>

{% endfor %}

{% endblock content %}